services:
  db:
    image: postgres:17.6
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  db_init:
    build:
      context: .
      dockerfile: Dockerfile.db_init
    container_name: db_init
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: postgres
      DB_HOST: db
      DB_PORT: 5432
    volumes:
      - .:/app
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8000:8000
    volumes:
      - .:/app
    environment:
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: postgres
      DB_HOST: db
      DB_PORT: 5432
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: streamlit
    depends_on:
      api:
        condition: service_started
    ports:
      - 8501:8501
    volumes:
      - .:/app
volumes:
  db_data:
